<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello World!</title>
</head>
<body>
<form method="POST" enctype="multipart/form-data" action="/upload">
    <p>文件：<input type="file" name="file" /></p>
    <p><input type="submit" value="上传" /></p>
</form>
<a href="/download">下载</a>

<form method="POST" enctype="multipart/form-data" action="/batch/upload">
    <p>文件1：<input type="file" name="file" /></p>
    <p>文件2：<input type="file" name="file" /></p>
    <p><input type="submit" value="上传" /></p>
</form>

<button onclick="download()">导出excel</button>

<script>
    function download(){
        var url="http://localhost:8082/download/excel";
        window.open(url);
    }
</script>
</body>
</html>